Django==5.1.7
djangorestframework==3.15.2
djangorestframework-simplejwt==5.4.0
django-cors-headers==4.6.0
django-filter==24.3
psycopg2-binary==2.9.11
dj-database-url==2.2.0
python-decouple==3.8
Pillow==11.1.0
cloudinary==1.44.1
django-cloudinary-storage==0.3.0
gunicorn==23.0.0
whitenoise==6.11.0
django-extensions==3.2.3
django-sslserver==0.22
django-simple-history==3.8.0
django-redis==5.4.0
celery==5.4.0
redis==5.2.1
requests==2.32.5
sentry-sdk==2.19.2
django-ratelimit==4.1.0
colorama==0.4.6
pyotp==2.9.0
qrcode==8.0
coverage==7.6.10
cryptography>=43.0.0
twilio==9.8.8
pytz==2024.2
